@import '../../App.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  color: white;
  padding: 20px;
}

.title::before,
.title::after {
  display: block;
  content: '';
  height: 3px;
  width: 100%;
  background-color: white;
}

.title::after {
  transform: translateY(-5px);
}

.header {
  background-color: var(--main-color);
  width: 100%;
}
